/* основной 
color: #212121; 

второстипений 
color: #757575;

дополнительний
color: #FFFFFF;

акцинт 
  color: #2196f3;

*/

/* :root */
:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #18a0fb;
  --transparent-white: rgba(255, 255, 255, 0.6);
}

/* Global */

/* * {
  margin: 0;
  padding: 0;
} */

body {
  color: var(--primary-text-color);
  font-family: Roboto;
}

/* .list {
  list-style: none;
} */

ul {
  list-style: none;
}

/* header */

.logo {
  font-family: Raleway;
  text-decoration: none;
  color: var(--primary-text-color);
}

.logo-span {
  color: var(--accent-color);
}

.site-nav {
}

.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header-contacts .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: #2196f3;
}
/* main */

.hero {
  background: #2f303a;
  /* времени правка - невидно текста  */
}

.hero-title {
  color: var(--primary-white-color);
  /* font-size: 44px; */
}

.hero-button {
  background-color: #2196f3;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  /* font-size: 16px; */
  font-family: Roboto;
  /* width: 200px;
  height: 50px; */
}
/* basis */

.basis {
}

.basis-text {
  color: var(--secondary-text-color);
}
/* work */

.work {
}

/* .work-title {
  font-weight: 700;
  font-size: 36px;
} */

/* team */

.team-text {
  color: var(--secondary-text-color);
}

/* footer */

footer {
  background: #2f303a;
}

.footer-logo {
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-contacts .map {
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-contacts .link {
  color: var(--transparent-white);
  text-decoration: none;
}

/* .footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: #2196f3;
} */

/* Portfolio main */

.sorting {
}
.sorting .button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  margin: 20px;
}

.sorting .button:focus,
.sorting .button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
